/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    /* debug */
    height: 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    /* debug */
    width: 80%;
    height: 40px;
}

.header-logo, .header-login {
    padding: 0 10px;
    width: 25%;
    border: 1px dashed black;
    /* debug */
    line-height: 40px;
}

.header-login {
    text-align: right;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    list-style: none;
    border: 1px dashed black;
}

.nav-bar ul li a {
    padding: 0 5px;
    color: black;
    text-decoration: none;
}

.header-blu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00008B;
    /* debug */
    height: 400px;
}
.header-blu-container .pink-rect {
    background-color: #EE82EE;
    border: 1px dashed black;
    /* debug */
    width: 60%;
    height: 350px;
}

/* MAIN */
.section-white, .section-grey {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    height: 500px;
}

.blue-pink-container {
    display: flex;
    /* debug */
    width: 80%;
    height: 400px;
}

.blue-item {
    background-color: #1E90FF;
    border: 1px dashed black;
    /* debug */
    width: 60%;
    height: 100%;
}

.pink-item {
    background-color: #FFC0CB;
    border: 1px dashed black;
    /* debug */
    height: 100%;
    width: 40%;
}

.section-grey-small {
    background-color: grey;
}

.section-grey-small .blue-pink-container {
    flex-direction: row-reverse;
}